Repository Workiva/over_react, pull requests merged in 2020-06, with the labels that each got.

#489 Update FluxUiPropsMixin example
  lib/src/component_declaration/flux_component.dart
Labels: Merge Requirements Met, RM Ready

#492 Note that props can only be declared in mixins
  doc/new_boilerplate_migration.md
Labels: Merge Requirements Met, RM Ready

#498 wrap OverReactReduxDevToolsMiddleware's handleEventFromRemote with allowInterop
  lib/src/over_react_redux/devtools/middleware.dart
Labels: Merge Requirements Met, RM Ready

#523 Utility hardening/cleanup, unit test setup
  tools/analyzer_plugin/lib/src/assist/refs/add_create_ref.dart
  tools/analyzer_plugin/lib/src/assist/refs/add_create_ref_assist.dart
  tools/analyzer_plugin/lib/src/diagnostic/arrow_function_prop.dart
  tools/analyzer_plugin/lib/src/diagnostic/bad_key.dart
  tools/analyzer_plugin/lib/src/diagnostic/callback_ref.dart
  tools/analyzer_plugin/lib/src/diagnostic/consumed_props_return_value.dart
  tools/analyzer_plugin/lib/src/diagnostic/dom_prop_types.dart
  tools/analyzer_plugin/lib/src/diagnostic/duplicate_prop_cascade.dart
  tools/analyzer_plugin/lib/src/diagnostic/forward_only_dom_props_to_dom_builders.dart
  tools/analyzer_plugin/lib/src/diagnostic/iterator_key.dart
  tools/analyzer_plugin/lib/src/diagnostic/missing_required_prop.dart
  tools/analyzer_plugin/lib/src/diagnostic/render_return_value.dart
  tools/analyzer_plugin/lib/src/diagnostic/single_child_key.dart
  tools/analyzer_plugin/lib/src/diagnostic/string_ref.dart
  tools/analyzer_plugin/lib/src/diagnostic/style_missing_unit.dart
  tools/analyzer_plugin/lib/src/fluent_interface_util/cascade_read.dart
  tools/analyzer_plugin/lib/src/util/ast_util.dart
  tools/analyzer_plugin/pubspec.yaml
  tools/analyzer_plugin/test/test_util.dart
  tools/analyzer_plugin/test/unit/fluent_interface_util/cascade_read_test.dart
  tools/analyzer_plugin/test/unit/util/ast_util_test.dart
Labels: Merge Requirements Met, RM Ready, area-analyzer-plugin

#526 Account for super getter access in PseudoStaticLifecycleDiagnostic
  tools/analyzer_plugin/lib/src/diagnostic/pseudo_static_lifecycle.dart
  tools/analyzer_plugin/playground/web/pseudo_static_lifecycle.dart
Labels: Merge Requirements Unmet, area-analyzer-plugin

#527 Fix createRef quick fix for arrow functions
  tools/analyzer_plugin/lib/src/assist/refs/add_create_ref.dart
  tools/analyzer_plugin/playground/web/refs.dart
Labels: Merge Requirements Unmet, area-analyzer-plugin

#530 Do not lint comments on declarations in a file with a MapView
  tools/analyzer_plugin/lib/src/diagnostic/incorrect_doc_comment_location.dart
  tools/analyzer_plugin/playground/web/doc_comment_location.dart
Labels: Merge Requirements Unmet, area-analyzer-plugin

#533 Enable diagnostics to run on all files in project instead of just open ones
  tools/analyzer_plugin/lib/src/plugin.dart
Labels: Merge Requirements Met, RM Ready, area-analyzer-plugin

#534 Disable implicit casts and implicit dynamic, fix lints
  tools/analyzer_plugin/analysis_options.yaml
  tools/analyzer_plugin/lib/src/async_plugin_apis/diagnostic.dart
  tools/analyzer_plugin/lib/src/diagnostic/arrow_function_prop.dart
  tools/analyzer_plugin/lib/src/diagnostic/boilerplate_validator.dart
  tools/analyzer_plugin/lib/src/diagnostic/bool_prop_name_readability.dart
  tools/analyzer_plugin/lib/src/diagnostic/dom_prop_types_gen.dart
  tools/analyzer_plugin/lib/src/diagnostic/invalid_child.dart
  tools/analyzer_plugin/lib/src/diagnostic/iterator_key.dart
  tools/analyzer_plugin/lib/src/diagnostic/missing_cascade_parens.dart
  tools/analyzer_plugin/lib/src/diagnostic/proptypes_return_value.dart
  tools/analyzer_plugin/lib/src/diagnostic/render_return_value.dart
  tools/analyzer_plugin/lib/src/diagnostic/single_child_key.dart
  tools/analyzer_plugin/lib/src/diagnostic/style_missing_unit.dart
  tools/analyzer_plugin/lib/src/diagnostic/variadic_children.dart
  tools/analyzer_plugin/lib/src/diagnostic_contributor.dart
  tools/analyzer_plugin/lib/src/fluent_interface_util/cascade_read.dart
  tools/analyzer_plugin/lib/src/plugin.dart
  tools/analyzer_plugin/lib/src/util/ast_util.dart
  tools/analyzer_plugin/lib/src/util/react_types.dart
  tools/analyzer_plugin/playground/web/children.dart
  tools/analyzer_plugin/test/unit/fluent_interface_util/cascade_read_test.dart
  tools/analyzer_plugin/test/unit/util/ast_util_test.dart
  tools/analyzer_plugin/tool/init_local_dev.dart
Labels: Merge Requirements Met, RM Ready, area-analyzer-plugin

#535 Add instance member in proptypes errors
  tools/analyzer_plugin/lib/src/diagnostic/proptypes_instance_members.dart
  tools/analyzer_plugin/lib/src/diagnostic/proptypes_return_value.dart
  tools/analyzer_plugin/lib/src/diagnostic/pseudo_static_lifecycle.dart
  tools/analyzer_plugin/lib/src/diagnostic/visitors/non_static_reference_visitor.dart
  tools/analyzer_plugin/lib/src/diagnostic/visitors/proptypes_visitors.dart
  tools/analyzer_plugin/lib/src/plugin.dart
  tools/analyzer_plugin/lib/src/util/ast_util.dart
  tools/analyzer_plugin/playground/web/proptypes.dart
Labels: Merge Requirements Met, RM Ready

#536 downgrade required prop to info
  tools/analyzer_plugin/lib/src/diagnostic/missing_required_prop.dart
Labels: Merge Requirements Met, RM Ready, area-analyzer-plugin

#537 Warn for all except last duplicate prop
  tools/analyzer_plugin/lib/src/diagnostic/duplicate_prop_cascade.dart
Labels: Merge Requirements Met, RM Ready, area-analyzer-plugin

#538 Revert use of runZoneGuarded for now
  tools/analyzer_plugin/lib/src/plugin.dart
Labels: Merge Requirements Met, area-analyzer-plugin

#552 Fix num type check that only works when implicit casts are enabled
  tools/analyzer_plugin/lib/src/diagnostic/invalid_child.dart
Labels: Merge Requirements Met, RM Ready

#557 Parallelize Analyzer Plugin CI Steps
  .travis.yml
  tool/travis.sh
  tool/travis_quality.sh
  tool/travis_tests.sh
  tools/analyzer_plugin/tool/travis.sh
Labels: Merge Requirements Unmet, area-analyzer-plugin

#503 Update readme with info from planning document
  tools/analyzer_plugin/README.md
Labels: Merge Requirements Unmet, area-analyzer-plugin

#524 Set Up Plugin CI
  .travis.yml
  tool/travis.sh
  tool/travis_quality.sh
  tool/travis_tests.sh
  tools/analyzer_plugin/analysis_options.yaml
  tools/analyzer_plugin/pubspec.yaml
  tools/analyzer_plugin/tool/add_over_react_override.dart
  tools/analyzer_plugin/tool/init_local_dev.dart
  tools/analyzer_plugin/tool/logging.dart
  tools/analyzer_plugin/tool/travis.sh
Labels: Merge Requirements Met, RM Ready, area-analyzer-plugin

#570 Temporarily disable missing required props lint
  tools/analyzer_plugin/lib/src/plugin.dart
Labels: Merge Requirements Met, RM Ready

#563 Misc analyzer plugin playground cleanup
  tools/analyzer_plugin/playground/README.md
  tools/analyzer_plugin/playground/analysis_options.yaml
  tools/analyzer_plugin/playground/web/dom_prop_types.dart
Labels: Merge Requirements Met, area-analyzer-plugin

#555 Increase severity of / narrow scope of arrow function in cascade lint
  tools/analyzer_plugin/lib/src/diagnostic/arrow_function_prop.dart
  tools/analyzer_plugin/playground/web/misc_fixes.dart
Labels: Merge Requirements Unmet, area-analyzer-plugin

#569 Fix misc. null exceptions encountered while testing
  tools/analyzer_plugin/lib/src/assist/refs/add_create_ref.dart
  tools/analyzer_plugin/lib/src/util/ast_util.dart
Labels: Merge Requirements Met, RM Ready, area-analyzer-plugin

#565 Do not lint whitelisted instance members within propTypes
  tools/analyzer_plugin/lib/src/diagnostic/proptypes_instance_members.dart
  tools/analyzer_plugin/lib/src/diagnostic/pseudo_static_lifecycle.dart
  tools/analyzer_plugin/playground/web/proptypes.dart
Labels: Merge Requirements Met, area-analyzer-plugin

#556 Fix boilerplate generated part directive lint false positives
  tools/analyzer_plugin/lib/src/diagnostic/boilerplate_validator.dart
  tools/analyzer_plugin/lib/src/diagnostic/bool_prop_name_readability.dart
  tools/analyzer_plugin/playground/web/boilerplate_validator_false_positives.dart
Labels: Merge Requirements Met, area-analyzer-plugin

#529 Unit tests for boilerplate_utils
  tools/analyzer_plugin/lib/src/util/boilerplate_utils.dart
  tools/analyzer_plugin/test/test_util.dart
  tools/analyzer_plugin/test/unit/util/boilerplate_utils_test.dart
Labels: Merge Requirements Met, RM Ready, area-analyzer-plugin

#566 Misc. iterable children improvements
  tools/analyzer_plugin/lib/src/diagnostic/iterator_key.dart
  tools/analyzer_plugin/lib/src/diagnostic/variadic_children.dart
Labels: Merge Requirements Met, area-analyzer-plugin

#553 Add better handling for dom and aria prop "targets"
  tools/analyzer_plugin/lib/src/diagnostic/dom_prop_types.dart
  tools/analyzer_plugin/lib/src/diagnostic/duplicate_prop_cascade.dart
  tools/analyzer_plugin/lib/src/fluent_interface_util/cascade_read.dart
  tools/analyzer_plugin/playground/web/dom_prop_types.dart
  tools/analyzer_plugin/playground/web/duplicate_prop_cascade.dart
Labels: Merge Requirements Met, area-analyzer-plugin

#554 Update dupe prop fix to remove all dupes except the last one
  tools/analyzer_plugin/lib/src/diagnostic/duplicate_prop_cascade.dart
  tools/analyzer_plugin/playground/web/duplicate_prop_cascade.dart
Labels: Merge Requirements Met, area-analyzer-plugin

#564 Lint unitless string const values in style maps
  tools/analyzer_plugin/lib/src/diagnostic/link_target_without_rel.dart
  tools/analyzer_plugin/lib/src/diagnostic/style_missing_unit.dart
  tools/analyzer_plugin/lib/src/util/ast_util.dart
  tools/analyzer_plugin/playground/web/link_target_without_rel.dart
  tools/analyzer_plugin/playground/web/style_missing_unit.dart
Labels: Merge Requirements Met, area-analyzer-plugin

#525 Set up lint/assist documentation generation
  README.md
  tools/analyzer_plugin/.gitignore
  tools/analyzer_plugin/README.md
  tools/analyzer_plugin/lib/src/assist/add_props.dart
  tools/analyzer_plugin/lib/src/assist/contributor_base.dart
  tools/analyzer_plugin/lib/src/assist/extract_component.dart
  tools/analyzer_plugin/lib/src/assist/refs/add_create_ref_assist.dart
  tools/analyzer_plugin/lib/src/assist/toggle_stateful.dart
  tools/analyzer_plugin/lib/src/assist/wrap_unwrap.dart
  tools/analyzer_plugin/lib/src/diagnostic/arrow_function_prop.dart
  tools/analyzer_plugin/lib/src/diagnostic/bad_key.dart
  tools/analyzer_plugin/lib/src/diagnostic/boilerplate_validator.dart
  tools/analyzer_plugin/lib/src/diagnostic/bool_prop_name_readability.dart
  tools/analyzer_plugin/lib/src/diagnostic/callback_ref.dart
  tools/analyzer_plugin/lib/src/diagnostic/consumed_props_return_value.dart
  tools/analyzer_plugin/lib/src/diagnostic/dom_prop_types.dart
  tools/analyzer_plugin/lib/src/diagnostic/duplicate_prop_cascade.dart
  tools/analyzer_plugin/lib/src/diagnostic/forward_only_dom_props_to_dom_builders.dart
  tools/analyzer_plugin/lib/src/diagnostic/incorrect_doc_comment_location.dart
  tools/analyzer_plugin/lib/src/diagnostic/invalid_child.dart
  tools/analyzer_plugin/lib/src/diagnostic/iterator_key.dart
  tools/analyzer_plugin/lib/src/diagnostic/link_target_without_rel.dart
  tools/analyzer_plugin/lib/src/diagnostic/missing_cascade_parens.dart
  tools/analyzer_plugin/lib/src/diagnostic/missing_required_prop.dart
  tools/analyzer_plugin/lib/src/diagnostic/proptypes_instance_members.dart
  tools/analyzer_plugin/lib/src/diagnostic/proptypes_return_value.dart
  tools/analyzer_plugin/lib/src/diagnostic/pseudo_static_lifecycle.dart
  tools/analyzer_plugin/lib/src/diagnostic/render_return_value.dart
  tools/analyzer_plugin/lib/src/diagnostic/single_child_key.dart
  tools/analyzer_plugin/lib/src/diagnostic/string_ref.dart
  tools/analyzer_plugin/lib/src/diagnostic/style_missing_unit.dart
  tools/analyzer_plugin/lib/src/diagnostic/variadic_children.dart
  tools/analyzer_plugin/lib/src/diagnostic_contributor.dart
  tools/analyzer_plugin/lib/src/doc_utils/contributor_meta_registry.dart
  tools/analyzer_plugin/lib/src/doc_utils/docs_meta_annotation.dart
  tools/analyzer_plugin/lib/src/doc_utils/documented_contributor_meta.dart
  tools/analyzer_plugin/lib/src/doc_utils/maturity.dart
  tools/analyzer_plugin/lib/src/fluent_interface_util/builder_invocation.dart
  tools/analyzer_plugin/lib/src/util/ast_util.dart
  tools/analyzer_plugin/lib/src/util/constants.dart
  tools/analyzer_plugin/lib/src/util/react_types.dart
  tools/analyzer_plugin/pubspec.yaml
  tools/analyzer_plugin/tool/doc.dart
  tools/analyzer_plugin/tool/doc_generation_utils/config.dart
  tools/analyzer_plugin/tool/doc_generation_utils/generate_assist_docs.dart
  tools/analyzer_plugin/tool/doc_generation_utils/generate_contributor_doc_page.dart
  tools/analyzer_plugin/tool/doc_generation_utils/generate_contributor_type_index.dart
  tools/analyzer_plugin/tool/doc_generation_utils/generate_rule_docs.dart
  tools/analyzer_plugin/tool/doc_generation_utils/shared_html.dart
  tools/analyzer_plugin/tool/doc_generation_utils/visitor.dart
Labels: Merge Requirements Unmet, area-analyzer-plugin

#558 Fix key lint check to avoid false positives
  tools/analyzer_plugin/lib/src/diagnostic/variadic_children_with_keys.dart
  tools/analyzer_plugin/lib/src/plugin.dart
  tools/analyzer_plugin/playground/web/key_playground.dart
Labels: Merge Conflicts, Merge Requirements Unmet, area-analyzer-plugin

#559 Integration test setups and base classes
  LICENSE
  tools/analyzer_plugin/analysis_options.yaml
  tools/analyzer_plugin/lib/src/async_plugin_apis/diagnostic.dart
  tools/analyzer_plugin/lib/src/diagnostic/arrow_function_prop.dart
  tools/analyzer_plugin/lib/src/diagnostic_contributor.dart
  tools/analyzer_plugin/lib/src/plugin.dart
  tools/analyzer_plugin/pubspec.yaml
  tools/analyzer_plugin/test/integration/assists/add_props_test.dart
  tools/analyzer_plugin/test/integration/diagnostics/arrow_function_prop_test.dart
  tools/analyzer_plugin/test/integration/matchers.dart
  tools/analyzer_plugin/test/integration/mocks.dart
  tools/analyzer_plugin/test/integration/test_bases/analysis_driver_test_base.dart
  tools/analyzer_plugin/test/integration/test_bases/assist_test_base.dart
  tools/analyzer_plugin/test/integration/test_bases/diagnostic_test_base.dart
  tools/analyzer_plugin/test/integration/test_bases/server_plugin_contributor_test_base.dart
Labels: Merge Requirements Unmet, area-analyzer-plugin

#578 Add/update open source attributions
  tools/analyzer_plugin/lib/src/async_plugin_apis/assist.dart
  tools/analyzer_plugin/lib/src/async_plugin_apis/diagnostic.dart
  tools/analyzer_plugin/lib/src/diagnostic_contributor.dart
  tools/analyzer_plugin/lib/src/doc_utils/documented_contributor_meta.dart
  tools/analyzer_plugin/lib/src/doc_utils/maturity.dart
  tools/analyzer_plugin/lib/src/error_filtering.dart
  tools/analyzer_plugin/lib/src/plugin.dart
  tools/analyzer_plugin/lib/src/util/react_types.dart
  tools/analyzer_plugin/tool/doc.dart
  tools/analyzer_plugin/tool/doc_generation_utils/generate_contributor_doc_page.dart
  tools/analyzer_plugin/tool/doc_generation_utils/generate_contributor_type_index.dart
  tools/analyzer_plugin/tool/doc_generation_utils/generate_rule_docs.dart
  tools/analyzer_plugin/tool/doc_generation_utils/shared_html.dart
Labels: Merge Requirements Met, area-analyzer-plugin

#577 Unit tests for component_usage
  tools/analyzer_plugin/lib/src/component_usage.dart
  tools/analyzer_plugin/test/test_util.dart
  tools/analyzer_plugin/test/unit/util/component_usage_test.dart
Labels: Merge Requirements Met, area-analyzer-plugin

#583 Fix unintended removal of keys in granchildren, add removeProp util
  tools/analyzer_plugin/lib/src/diagnostic/duplicate_prop_cascade.dart
  tools/analyzer_plugin/lib/src/diagnostic/variadic_children.dart
  tools/analyzer_plugin/lib/src/diagnostic/variadic_children_with_keys.dart
  tools/analyzer_plugin/lib/src/fluent_interface_util/cascade_edits.dart
  tools/analyzer_plugin/lib/src/fluent_interface_util/cascade_read.dart
Labels: Merge Requirements Met, area-analyzer-plugin

#581 Diagnostic message and README updates
  tools/analyzer_plugin/README.md
  tools/analyzer_plugin/doc/create-configuration-3.png
  tools/analyzer_plugin/doc/edit-jetbrains-registry.png
  tools/analyzer_plugin/doc/run-configuration-2.png
  tools/analyzer_plugin/doc/verify-connected.png
  tools/analyzer_plugin/lib/src/async_plugin_apis/diagnostic.dart
  tools/analyzer_plugin/lib/src/diagnostic/arrow_function_prop.dart
  tools/analyzer_plugin/lib/src/diagnostic/bad_key.dart
  tools/analyzer_plugin/lib/src/diagnostic/bool_prop_name_readability.dart
  tools/analyzer_plugin/lib/src/diagnostic/dom_prop_types.dart
  tools/analyzer_plugin/lib/src/diagnostic/forward_only_dom_props_to_dom_builders.dart
  tools/analyzer_plugin/lib/src/diagnostic/incorrect_doc_comment_location.dart
  tools/analyzer_plugin/lib/src/diagnostic/invalid_child.dart
  tools/analyzer_plugin/lib/src/diagnostic/iterator_key.dart
  tools/analyzer_plugin/lib/src/diagnostic/missing_cascade_parens.dart
  tools/analyzer_plugin/lib/src/diagnostic/pseudo_static_lifecycle.dart
  tools/analyzer_plugin/lib/src/diagnostic/render_return_value.dart
  tools/analyzer_plugin/lib/src/diagnostic/string_ref.dart
  tools/analyzer_plugin/lib/src/diagnostic/style_missing_unit.dart
  tools/analyzer_plugin/lib/src/diagnostic/variadic_children.dart
  tools/analyzer_plugin/lib/src/diagnostic/variadic_children_with_keys.dart
  tools/analyzer_plugin/lib/src/util/constants.dart
Labels: Merge Requirements Met, area-analyzer-plugin

#582 Simplify proptypes static checking
  tools/analyzer_plugin/lib/src/diagnostic/proptypes_instance_members.dart
  tools/analyzer_plugin/lib/src/diagnostic/pseudo_static_lifecycle.dart
  tools/analyzer_plugin/lib/src/plugin.dart
Labels: Merge Requirements Unmet, area-analyzer-plugin

#576 Validate part directive for libs with parts
  lib/src/builder/builder.dart
  lib/src/builder/util.dart
  tools/analyzer_plugin/lib/src/diagnostic/boilerplate_validator.dart
  tools/analyzer_plugin/playground/web/invalid_generated_part_filename_parent.dart
  tools/analyzer_plugin/playground/web/invalid_generated_part_filename_part.dart
  tools/analyzer_plugin/playground/web/invalid_generated_part_filename_standalone.dart
Labels: Merge Requirements Unmet, area-analyzer-plugin
